body {
	font-family: 'Montserrat', sans-serif;
	height: auto;
	min-height: 100vh;
	overflow: scroll;
}

section {
	min-height: 100vh;
}

main a{
	cursor: pointer;
	text-decoration: none!important;
	color: #00bfd8;
	font-weight: 600;
	font-size: 17.5px;
	transition: color, font-weight, 0.5s;
}
main a:hover{
	
	color: #ff55f6;
}

nav li a:hover{
	color: #00bfd8!important;
}

.text-propio {
	color: #e2a3c8 !important;
}

.back-propio {
	background-color: #00bfd8 !important;
	border: 0, 0, 0, #00bfd8 !important;
}

.color-propio {
	color: #00bfd8 !important;
}

.chose_a_chord {
	margin-top: 80px;
	margin-bottom: 20px;
}


.nav-item {
	position: relative;
	font-size: 130%;
	transition: margin-right, 0.5s ease-in-out;
}

select {
	cursor: pointer;
}

.underline::before {
	content: '';
	position: absolute;
	left: 15px;
	right: 0;
	bottom: 0;
	height: 3px;
	width: 15%;
	background-color: #00bfd8;
	transition: transform, 0.3s ease-in-out;
	transform: scaleX(0);
}

.nav-item:hover,
.nav-item:focus {
	margin-left: 20px !important;
}

.underline:hover::before,
underline:focus::before {
	transform: scaleX(1);
}

@media (min-width: 992px) {
	.underline::before {
		content: '';
		position: absolute;
		left: 15%;
		right: 15%;
		bottom: 0;
		height: 3px;
		width: 70%;
		background-color: #00bfd8;
		transition: transform, 0.3s ease-in-out;
		transform: scaleX(0);
	}

	.nav-item:hover,
	.nav-item:focus {
		margin-right: 20px !important;

	}

	.underline:hover::before,
	underline:focus::before {
		transform: scaleX(1);
	}


}



.back-light,
.back-dark {
	border-radius: 10px;
	transition: background-color, 0.7s;
}

.back-light:hover {
	background-color: #eae8ce;

}

.back-dark:hover {
	background-color: #f2f8f4;
}


/* SWITCH DARK MODE */

.switch {
	position:relative;
	top: 6rem;
	right: 2rem;
	position: fixed;
	display: inline-block;
	width: 60px;
	height: 34px;
	z-index: 1;
}

@media (max-width: 550px) {
	.switch {
		top: 5.5rem;
		right: 0.5rem;
	}
}

.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
}

input:checked+.slider {
	background-color: #00bfd8;
}

input:focus+.slider {
	box-shadow: 0 0 1px #00bfd8;
}

input:checked+.slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
	border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;
}


/* SWEET ALERT 2 THINGS */
.colored-toast.swal2-icon-success {
	background-color: #a5dc86 !important;
  }
   
  .colored-toast.swal2-icon-error {
	background-color: #f27474 !important;
  }
   
  .colored-toast.swal2-icon-warning {
	background-color: #f8bb86 !important;
  }
   
  .colored-toast.swal2-icon-info {
	background-color: #3fc3ee !important;
  }
   
  .colored-toast.swal2-icon-question {
	background-color: #87adbd !important;
  }
   
  .colored-toast .swal2-title {
	color: white;
  }
   
  .colored-toast .swal2-close {
	color: white;
  }
   
  .colored-toast .swal2-html-container {
	color: white;
  }